.rebar3
_*
.eunit
*.o
*.a
*.so
c_src/3rd/lua/lua
c_src/3rd/lua/luac
c_src/3rd/luajit
c_src/env.mk
priv/*.so
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
log
.erlang.mk
deps
ailua.d